<%= render 'users/userinfo', user: current_user, book: @book %>


			 	<div class="col-xs-9">
			 		<h2>Books</h2>
			 		 <table class="table table-hover">
			 			<thead>
			 				<tr>
			 					<th></th>
			 					<th>Title</th>
			 					<th>Opinion</th>
			 					<th colspan="3"></th>
			 				</tr>
			 			</thead>
			 			<% @books.each do |book| %>
			 			<tbody>
			 				<tr>
			 					<td><%= attachment_image_tag book.user, :image, size: "30x30", format: 'jpeg', fallback: "no_image.jpg" %></td>
			 					<td><%= link_to book.title, book_path(book.id), class: "book_#{@book.id}" %></td>
			 					<td><%= book.body %></td>
			 				</tr>
			 			</tbody>
			 			<% end %>
			 		 </table>
			 	</div>